<div>
 <h4>Categories page </h4>
 <%= @categories.each do| cate|%>
<div class="max-h-full border-2 h-40 justify-center flex"> 
 <%= link_to categories_path([:category_id]) do %>
  <p> <%= cate.name %>  added on <%= cate.created_at.strftime('%Y.%m.%d') %> </p>
   </div>
  <% end %>
  <% end %>
  <%= link_to"add category ", new_category_path, class:'border border-black p-2 rounded-lg cursor-pointer hover:opacity-60'%>
</div>
