<div>
 <h4 class=" text-blue-500">Categories page </h4>
  <% if @categories.empty? %>
  <p>No categories yet!</p>
  <% else %>
 <% @categories.each do| cate|%>
<div class=" border-2 h-40  mb-3  flex gap-6"> 
<div>
 <%= link_to category_path(cate.id) do %>
  <img src="<%= cate.icon %> " alt="images" class="h-24 w-24 rounded-sm">
  </div>
  <p class="text-xl"> <%= cate.name %>
  <div>
   <%= cate.created_at.strftime('%H:%M:%S') %> </p>
   </div>
  <div>
   <%= cate.created_at.strftime('%d-%m-%Y') %> </p>
   </div>
   </div>
  <% end %>
  <% end %>
  <% end %>

  <%= link_to"add category ", new_category_path, class:'border border-black p-1  rounded-sm cursor-pointer hover:opacity-60'%>
</div>
