<div class="flex gap-6 flex-col ">
 <h2 class="bg-teal-500 text-3xl flex  justify-center h-12">Transactions</h4>
 <% @expense.each_with_index do | x, index|%>
<%= link_to expense_path(x.id ) do %>
  <% @category.each  do | i|%>
 <img src="<%= i.icon%>" class="h-28 w-28 rounded-sm mr-2" >
    <%end%> 
 <h2><%= x.name%></h2>
  <%=  x.name %> added on <%= x.created_at %>    <%= x.amount %>
  <%end%>
  <%end%>

    <%= link_to"Add transaction ", new_expense_path, class:'border border-black p-2 rounded-lg cursor-pointer hover:opacity-60 w-40'%>

     <%= link_to "Back" , categories_path, class:'border border-black p-2 rounded-lg cursor-pointer hover:opacity-60 w-16' %>
</div>