<div>
 <h2 class="bg-teal-500">All Transactions</h4>
 <%= @expense.each_with_index do | x, index|%>
 <h2><%= x.name%></h2>
  <%=  x.name %> added on <%= x.created_at %>    <%= x.amount %>
  <%end%>
    <%= link_to"add a Transaction ", new_expense_path, class:'border border-black p-2 rounded-lg cursor-pointer hover:opacity-60'%>
</div>